<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the DITA-OT Passthrough Plug-in project.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.passthrough" version="2.2.1">
  <feature extension="ant.import" file="process_passthrough.xml"/>
  <feature extension="dita.conductor.lib.import" file="lib/passthrough.parser-1.0.jar"/>
  <!--
		This plugin requires the XMLTask lib
   -->
  <require plugin="org.doctales.xmltask"/>
  <!-- Uses the default depend.preprocess.post extension point -->
  <feature extension="depend.preprocess.post" value="passthrough"/>
  <!-- Uses the passthrough extension point and file reader -->
  <feature extension="passthrough.process" value="passthrough.process"/>
  <feature extension="dita.parser">
    <parser format="passthrough" class="fox.jason.passthrough.parser.FileReader"/>
  </feature>
  
  <!-- Offers two additional extension points for dependent plug-ins -->
  <extension-point id="passthrough.pre" name="Extend pass through pre-processing"/>
  <extension-point id="passthrough.process" name="Extend pass through processing"/>

  <!-- Add a template file to enable overrides to use extension points -->
  <template file="process_passthrough_template.xml"/>
</plugin>