<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the DITA-OT Passthrough Plug-in project.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.passthrough" version="4.0.0">
  <feature extension="dita.conductor.lib.import" file="lib/passthrough.parser-4.0.jar"/>
  <feature extension="dita.parser">
    <parser format="passthrough" class="fox.jason.passthrough.PassthroughFileReader"/>
  </feature>
</plugin>